.App {
    text-align: center;
    padding: 20px;
    color: white;
    position: relative;
}

.row {
    display: flex;
    gap: 1px;
    margin-top: 1px;
    margin-bottom: 1px;
    justify-content: center;
}

.item {
    cursor: pointer;
}

.flex {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 20px 0;
    gap: 5px;
}

.inline-flex {
    display: flex;
    align-items: center;
    gap: 5px;
}

.danger {
    background-color: red;
}

button {
    cursor: pointer;
    background-color: #24a0ed;
    border: none;
    border-radius: 10px;
    color: white;
    padding: 10px;
    font-size: medium;
    box-shadow: 0 5px #999;
    transition-property: all;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
    transition-duration: 150ms;
}

button:active {
    background-color: #3e8e41;
    box-shadow: 0 0px #666;
    transform: translateY(5px);
}

.settings {
    position: absolute;
    top: 200px;
    left: 50%;
    margin-left: 240px;
    text-align: left;
    max-width: 260px;
    min-width: 260px;
}

@media only screen and (max-width: 1023px) {
    .settings {
        position: relative;
        top: 15px;
        left: 0;
        right: 0;
        margin: auto;
        text-align: center;
    }

    .settings > * {
        justify-content: center;
    }
}

select {
    height: 25px;
    padding: 2px;
    border-radius: 5px;
    border: none;
}

@keyframes blinker {
    50% {
        opacity: 0;
    }
}

.blink {
    text-transform: uppercase;
    animation: blinker 1.5s ease-in-out infinite;
}

.start {
    background-color: green;
}

.end {
    background-color: blue;
}
